<form asp-action="Index">
    <p>
        <lable>Hệ Số A: </lable>
        <input type="text" name="heSoA"
    </p>
    <p>
        <lable>Hệ Số B: </lable>
        <input type="text" name="heSoB"
    </p>
    <p>
        <label>Hệ Số C :</label>
        <input type="text" name="heSoC">
    </p>
    <p>
        <input type="submit" value="Giải phương trình">
    </p>
</form>
<h2>@ViewBag.abc</h2>