<form asp-action="Index">
    <p>
        <label> Hệ số A: </label>
        <input type="text" name="heSoA">
    </p>
    <p>
        <label> Hệ số B: </label>
        <input type="text" name="heSoB">
    </p>
    <p>
        <input type="Submit" name="Save">
    </p>
</form>
<h2>@ViewBag.thongBao</h2>