<h2>Thông tin nhân viên:  @ViewBag.Ep</h2>
<form asp-action="Index">
    <label>EmployeeID:</label>
    <input type="number" name="EmployeeID">
    <br>
     <label>EmployeeName:</label>
    <input type="text" name="EmployeeName">
    <br>
     <label>EmployeeAddress:</label>
    <input type="text" name="EmployeeAddress">
    <input type="submit" value="Save">
</form>