@{
    ViewData["Title"] = "Home Page";
}

<h2>View home Index</h2>
<form asp-action="Index">
    <label>Enter Name:</label>
    <input type="text" name="FullName">
    <br>
    <label>Enter Email:</label>
    <input type="text" name="Email">
    <input type="submit" value="Save">

</form>
<h2>@ViewBag.name</h2>
