<form asp-action="Create">
    <label> Mã sinh viên:</label>
    <input type="number" name="StudentID" value="1">
    <br>
    <label>Họ tên sinh viên:</label>
    <input type="text" name="StudentName" value="Nguyen Van A">
    <br>
    <label>Tuổi:</label>
    <input type="number" name="StudentAge" value="18">
    <br>
    <input type="submit" value="Send">
</form>
<h2>@ViewBag.TT</h2>